.product {
  display: flex;
  justify-content: space-between;
  margin: 0% 2%;
}

.productImg {
  display: flex;
  flex-direction: column;
  margin-right: 5%;
}

.productMain {
  height: 100%;
  width: 100%;
  border-radius: 15px;
  margin-bottom: 4%;
}

.productThumbnails {
  display: flex;
  justify-content: space-between;
  img:hover {
    cursor: pointer;
  }
  img:first-child {
    border: 2px solid #ff7e1b;
  }
}

.thumbnail {
  height: 100%;
  width: 20%;
  object-fit: cover;
  border-radius: 10px;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.75),
    rgba(255, 255, 255, 0.75)
  );
}

.productDesc {
  margin-left: 5%;
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
  .companyTitle {
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: left;
    color: #ff7e1b;
    margin-bottom: 27px;
  }
  .companySubtitle {
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 48px;
    text-align: left;
    color: #1d2026;
    width: 70%;
    margin-bottom: 32px;
  }
  .productDescription {
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 6%;
    color: #69707d;
    width: 70%;
    text-align: left;
  }
}

.price {
  display: flex;
  width: 100%;
  margin-bottom: 6%;
}

.mainPrice {
  margin-right: 3%;
  .discountedPrice {
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 35px;
    color: #1d2026;
  }
  .originalPrice {
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    text-decoration-line: line-through;
    color: #b6bcc8;
    margin-top: 3%;
    text-align: left;
  }
}

.discountPercent {
  height: 7%;
  background: #ffeee2;
  border-radius: 6px;
  padding: 2px;
  display: flex;
  justify-content: flex-end;
  margin-top: 2%;
  .percentDis {
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #ff7e1b;
    display: inline-block;
  }
}

.productBtns {
  display: flex;
  .count {
    font-weight: 400;
    font-size: 16px;
  }
  .firstBtn {
    display: flex;
    justify-content: space-between;
    background: #f6f8fd;
    border-radius: 10px;
    width: 157px;
    height: 56px;
    margin-right: 16px;
    border: none;
    outline: none;
    align-items: center;
    padding: 10px;
    img:hover {
      cursor: pointer;
    }
  }
  .secondBtn {
    display: flex;
    text-align: center;
    background: #ff7e1b;
    box-shadow: 0px 20px 50px -20px #ff7e1b;
    border-radius: 10px;
    height: 56px;
    width: 272px;
    border: none;
    outline: none;
    align-items: center;
    justify-content: center;
    &:hover {
      cursor: pointer;
    }
    .btnText {
      font-family: 'Kumbh Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      margin-left: 16px;
      color: #ffffff;
    }
  }
}

@media screen and (max-width: 1306px) {
  .product {
    flex-direction: column;
  }
}
// @media screen and (min-width: 954px) and (max-width: 1306px) {
//   .leftNav {
//     width: 60%;
//   }
//   .rightNav {
//     width: 20%;
//   }
// }

// @media screen and (max-width: 953px) {
//   .leftNav {
//     width: 70%;
//   }
//   .rightNav {
//     width: 20%;
//   }
// }

// @media screen and (max-width: 840px) {
//   .productThumbnails {
//     img {
//       height: 50px;
//       width: 50px;
//     }
//   }
// }
