header {
  height: 114px;
  width: 100%;
  margin-bottom: 90px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e4e9f2;
}

.headerNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  a {
    text-decoration: none;
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: #69707d;
    padding: 44px 0;
    border-bottom: 3px solid transparent;

    &:hover {
      border-bottom: 3px solid #ff7e1b;
    }
  }
}

.leftNav {
  display: flex;
  justify-content: space-between;
  width: 40%;
  .firstLink {
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 26px;
    color: #000;
  }
}

.rightNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 10%;
  height: 110px;
  a {
    padding: 42px 0;
  }
  .avatarLink {
    padding: 28px 0;
    position: relative;
  }
  .cartCount {
    position: absolute;
    top: 9%;
    right: 17%;
    border-radius: 15px;
    color: green;
    background-color: #ff7e1b;
    color: white;
    height: 15px;
    width: auto;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }
}

.linkCart {
  height: 20px;
  width: 21.82px;
}

.avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.mobileNav {
  display: none;
}

@media screen and (min-width: 360px) and (max-width: 767px) {
  .mobileNav {
    display: block;
  }
  .leftNav {
    // transition: width 3s;
    // transform-origin: left;
    display: none;
    position: absolute;
    left: 0%;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    top: 8%;
    box-shadow: 5px 10px 10px black;
    background-color: white;
    height: 50%;
    a {
      padding: 5px;
      padding-left: 20px;
    }
  }
  .rightNav {
    width: 35%;
    .cartCount {
      top: 9%;
      right: 32%;
    }
    .imgCart {
      width: 25%;
    }
  }
  .cartContainer {
    width: 62%;
    right: 32%;
    top: 11%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .leftNav {
    width: 60%;
  }
  .rightNav {
    width: 20%;
    .cartCount {
      top: 8%;
      right: 23%;
    }
  }
  .cartContainer {
    top: 8%;
    width: 43%;
    right: 24%;
  }
}

@media screen and (min-width: 912px) {
  .rightNav {
    width: 15%;
    .cartCount {
      top: 6%;
      right: 23%;
    }
  }
}

@media screen and (min-width: 1024px) {
  .cartContainer {
    top: 12%;
    width: 30%;
    right: 20%;
  }

  .leftNav {
    width: 60%;
  }

  .rightNav {
    .cartCount {
      top: 8%;
      right: 20%;
    }
  }
}

@media screen and (min-width: 1280px) {
  .rightNav {
    width: 10%;
    .cartCount {
      top: 8%;
      right: 17%;
    }
  }
  .cartContainer {
    top: 9%;
    right: 17%;
    width: 20%;
  }

  .leftNav {
    width: 40%;
  }
}
